*.class

javadoc/
src/main/resources/default/
src/main/java/net/timbusproject/extractors/modules/debiansoftwareextractor/test/

# Package Files
*.jar
*.war
*.ear

# Maven Directories
target/

# Ant Directories
build/

# Other Build Directories
lib/
bin/

# VIM stuff
*~

# IntelliJ Stuff
*.iml
*.ipr
*.iws
.idea/

# Spring Directories
.springBeans

# Eclipse Directories
.project
.classpath
.settings/

# CDT-specific
.cproject

# PDT-specific
.buildpath
